<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BrokerSOAPBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ingenieria.usac.edu.gt" binding="basicHttpBinding"
                bindingConfiguration="BrokerSOAPBinding" contract="BrokerPortType"
                name="PuertoBroker" />
        </client>
    </system.serviceModel>
</configuration>